body {
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}

.background {
  width: 100vw;
  position: relative;
}

.top-feature {
  position: absolute;
  width: 100%;
  top: 15vh;
  left:0;
  color: white;
  text-align: center;
}

.top-feature h1 {
  font-family: 'Fira Sans', sans-serif;
}

.glyphicon-envelope {
  color: white;
  font-size: 5em;
}

.glyphicon-envelope:hover {
  color: orange;
}

.fa {
  color: white;
  font-size: 5em;
}

.logo {
  width: 15vw;
  height: auto;
}

.available-bar {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  text-decoration: underline;
}
